<%= link_to_function "Printing tips", "toggle_visibility('print-tips')" %><br />
<div id = "print-tips" style = 'display:none'>
	<fieldset>
		<ul>
			<li>Make sure "Scale" is set to <strong>"Shrink to Fit"</strong> in the print settings or Print Preview window of your browser</li>
			<li>In the Advanced Search settings to the left, set <strong>"Records per page"</strong> to <strong>500</strong> to ensure all the records you want to print are displayed</li>
			<li>If you only want to print certain records, check the boxes next to the names on the records you want to print, then click <strong>"Print Selected"</strong></li>
		</ul>
	</fieldset>
</div>