<h1>Ferpa Agreement</h1>

<fieldset>
<%= form_tag({:action => :index}, {:method => 'get'}) do %>
<p>I understand that I have access to student records which contain individually identifiable information, the disclosure of which is governed by the Family Educational Rights and Privacy Act (FERPA). I understand that the disclosure of this information to any unauthorized person could subject me to criminal and civil penalties imposed by law and could be cause for disciplinary action including termination of my employment. I understand that by my sign-on (network ID and password) I accept full responsibility for complying with these regulations.</p>
<p>You are attempting to access information that is protected by federal privacy law. Disclosure to unauthorized parties violates FERPA. You should not attempt to proceed unless you are specifically authorized to do so and are informed about FERPA.</p>
<p>When accessing the system, you must access only that information needed to complete your assigned or authoried task. You may communicate the information only to other parties authorized to have access in accordance with the provisions of FERPA.</p>
<p>If you have any questions about these provisions, please contact the office of the registrar.</p>
<p><%= check_box_tag(:agree_ferpa, 'agreed', false) %>
<%= label_tag(:agree_ferpa, "I agree to/satisfy the above requirements.") %></p>
<p><%= submit_tag("Continue") %></p>
<% end %>
</fieldset>