<p>
  <b>Print agree:</b>
  <%=h @print_agreement.print_agree %>
</p>

<p>
  <b>Print agree date:</b>
  <%=h @print_agreement.print_agree_date %>
</p>


<%= link_to 'Edit', edit_user_print_agreement_path(@user) %> |
<%= link_to 'Back', @user %>